<style>
.help-block-inline {
  display: inline-block;
}
</style>

<script>
$( document ).ready(function() {
  $('#counter').text('140');
  $('#micropost_content').keyup(function () {
      var left = 140 - $(this).val().length;
      if (left < 0) {
          var first140 = $(this).val().substring(0, 140);
          alert("You can only use at most 140 characters.  Message has been truncated to 140 characters.  Please check before submitting.");

          $(this).val(first140);
          left = 0;
      }
      $('#counter').html(left);
    });
});
</script>

<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost..." %>
  </div>
  <div class="help-block" >
  <span class="help-block-inline">Characters left:</span><span class="help-block-inline" id="counter"></span>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>